body{
    background-color: aqua;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
}

/*----------- REUSABLE COMPONENTS -----------*/
h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
}
.maincontainer{
    position: absolute;
    width: 360px;
    height: 500px;
    background: aqua;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    background: transparent;
    transition: all 0.5s ease;
}

.thefront{
    box-shadow: 2px 2px 5px #000;
    position: absolute;
    width: 80%;
    height: 80%;
    backface-visibility: hidden;
    background: white;
    color: #333;
    padding: 14% 10%;
}

.theback{
    box-shadow: 2px 2px 5px #000;
    position: absolute;
    width: 80%;
    height: 80%;
    backface-visibility: hidden;
    background: white;
    color: #333;
    transform: rotateY(180deg);
    padding: 14% 10%;
}





/*
//////////////// LOG IN ////////////////////
*/

.inputs{
    margin: 10px 0px 20px 0px;
    font-size: 20px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #333;
    width: 100%;
    background: transparent;
}

.btn{
    /* background-color: purple; */
    background: linear-gradient(to left,#12c2e9,#c471ed);
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    display: block;
    width: 100%;
    padding: 20px;
    margin: 5px;
    outline: none;
    border-radius: 40px/50px;
}

.btn:hover{
    box-shadow: 1px 1px 2px #000;   
}



label{
    font-weight: 700;
}



#btn1{
    margin-top: 20px;
}



/*
//////////////// LOG IN ////////////////////
*/

#register{
    margin-top: -18px;
}