:root{
    --text_color: #ff0000;
    --text_size: 40px;
}


*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: purple;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin-left: 20px;
}

.container{
    margin: 0 auto;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%,-50%);
}
#text_input{
    color: var(--text_color);
    font-size: var(--text_size);
    border: none;
    outline: none;
    /* border: none; */
}

#box1{
    float: left;
    height: 100%;
    width: 30%;
}

h1{
    color: white;    
    font-size: 60px;
    font-weight: 300;
}   
#box2{
    background-color: white;
    height: 100%;
    width: 70%;
    float: right;
}
.clearfix::after{
        content: "";
        clear: both;
        display: table;
}
.divs{
    margin-top: 20px;
}
#text_size{
    font-size: 20px;    
}

#color_picker{
    margin-top: 80px;  
    border: none;
    outline: none;
    font-size: 20px;
}

#color_view{
    margin-bottom: -15px;
    height: 50px;
    width: 50px;
    background-color: var(--text_color);
    border-radius: 50%;
    display: inline-block;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#bold_btn{
    display: none;
}

#italic_btn{
    display: none;
}

#underline_btn{
    display: none;
}



.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    display: inline-block;
}

.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;

}

input:checked + .slider{
    background-color: #2196F3;
}

input:focus + .slider{
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before{
    transform: translateX(26px);
}

.slider.round{
    border-radius: 34px;
}

.slider.round:before{
    border-radius: 50%;
}
